.gameboard {
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 375px;
  width:375px;
  background: beige;
  opacity: 0;
  transition: opacity 2s
  justify-content: center;
  
}

.gridsquare {
  text-align: center;
  width: 33%;
  font-size: 100px;
  box-sizing: border-box;
  height:33%;
  border:1px solid black;
  margin-left: 1px;
  
}

.hero-body {
  
}

.fade {
  opacity: 1;
  transition-timing-function: cubic-bezier(0.02, -0.02, 0.37, 0.49)
}

.input.is-primary {
  width: 20rem;
  font-size: 14px;
}

.message.is-success {
  font-size: 2rem;
}

.turn {
  font-size: 30px;
}